<!Doctype html>

<h1>Are you sure?</h1>
<form action="/tweets/<%= @tweet.id %>" method="POST">
  <input type="hidden" id="hidden" name="_method" value="delete">
  <input type="submit" id="Submit" value="Yes, delete post" name="choice">
  <input type="submit" id="Submit1" value="No, take me back" name="choice">
</form>