<!Doctype html> 
<% a = @tweet.content %>
<% if @user == current_user && logged_in? %>
<form action="/tweets/<%= @tweet.id %>/" method="post">
  <input type="hidden" id="hidden" name="_method" value="patch">
  <input type="textarea" value="<%= a %>" name="content">
  <input type="submit" value="Submit" id="Submit">
</form>
<% elsif !@user == current_user %> 
<h1>This isn't your tweet. Please return to the homepage</h1>
<a href="/tweets">Return to homepage</a>
<% elsif !logged_in? %> 
<h1>You're not logged in. Please log in to edit tweets</h1>
<a href="/login">Login</a>
<br><br>
<% end %>
<% if @a %> 
<%= @a %> 
<% end %> 