<% if logged_in? %>
  <form action='/new' method="post">
    Content:
    <input type="textarea" name="content"><br>

    <input type="submit" name="submit" id="submit">

  </form>

  <% else %>
      <h1> You Must Be Logged in to Make Tweets </h1>
      <a href="/login">Login</a>
  <% end %>

<% if @a %> 
<%= @a %> 
<% end %>