<!Doctype html>

<form action="/login" method="POST">
  <label for="username">Username:</label>
  <input name="username" type="text"/>
  <br><br>
  <label for="password">Password:</label>
  <input name="password" type="text"/>
  <br>
  <input type="submit" id="Submit1" value="Login"/>
  <br>
  Don't have an account? 
  <a href="/signup">Sign Up Here</a>
  <% if @a %>
  <%= @a %> 
  <% end %>
  
</form>