<!Doctype html>

<html>
  <link rel="stylesheet" href="css/intro.css">
  <h1>Welcome to Fwitter!</h1>
  <form action="/start" method="post">
    <input type="submit" value="Login" id="Submit" name="choice" class="cl"/>
    <input type="submit" value="Sign Up" id="Submit1" name="choice" class="cl"/>
  </form>
</html>