<!Doctype html>

<html>
  <h1>Welcome to Fwitter!</h1>
  <form action="/start" method="post">
    <input type="submit" value="Login" id="Submit" name="choice"/>
    <input type="submit" value="Sign Up" id="Submit1" name="choice"/>
  </form>
</html>